/* Headers */
h1{
  font-size: 22pt;
  font-family: Arial;
  font-weight: bold;
}

h2{
  font-size: 18pt;
  font-family: Arial;
  font-weight: bold;
}

h3{
  font-size: 14pt;
  font-family: Arial;
}

h4{
  font-size: 12pt;
  font-family: Arial;
}




